body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 15em auto 20em;
    grid-template-rows: 11em auto;
    grid-template-areas:
        "top top top"
        "side main popover";
}

#hidden {
    display: none;
}

.hidden {
    display: none;
}

/*
#hidden > canvas{
    display: inherit;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    border: solid black;
}*/

.top {
    grid-area: top;
    background-color: #e0ffff; /*lightcyan*/
}

.side {
    grid-area: side;
    background-color: #90ee90; /*lightgreen*/
}

.main {
    grid-area: main;
}

.popover {
    grid-area: popover;
    background-color: #F8E28B;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}