body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 15em auto;
    grid-template-rows: 13em auto;
    grid-template-areas: "top top" "side main";
}

#hidden {
    display: none;
}

/*
#hidden > canvas{
    display: inherit;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    border: solid black;
}*/

.top {
    grid-area: top;
    background-color: lightcyan;
}

.side {
    grid-area: side;
    background-color: lightgreen;
}

.main {
    grid-area: main;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}